.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.leetcode-calendar .legend {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.leetcode-calendar .legend text {
  font-size: 14px;
  fill: var(--imp-text-color) !important; /* Purple text */
}

.leetcode-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Equivalent to Tailwind's mx-auto */
  width: fit-content; /* Ensures it doesn’t stretch unnecessarily */
}



